/*導覽列樣式設定*/
body,ul{
    margin: 0px;
}

header{
    position:sticky;
    position:-webkit-sticky;
    top:0;
}
nav{
    background-color: rgb(249, 147, 162);
}
nav ul{
    display:flex;
    justify-content: right;
    
}
nav li{
    list-style-type: none;
    padding: 10px;
}

nav a{
    text-decoration: none;
    color: bisque;
    padding: 10px;
}
nav a:hover{
    background-color: aqua;
    color: rgb(72, 70, 72);
    transition: backgrond-color 1s linear,color 1s ease-in ;
}
.banner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(232, 212, 212,70%);
}

.title{
    text-align: center;
}

/*相片清單*/
#photolist ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px;
}
#photolist li{
    list-style-type: none;
    margin:10px;
}

#photolist img{
    border-radius: 10%;
    box-shadow: 5px 5px 10px greenyellow;
}

#photolist .emptyitem{
    width: 200px;
}

.gotop{
    font-size: 80px;
    color: rgb(33, 24, 29);
    position: fixed;
    right: 10px;
    bottom: 10px;
}